* {
	margin: 0;
	padding: 0;
}
html{
    max-width: auto;
    min-width: auto;
}

header{
    background: #333030;
    font-size: 20px;
    width: 100%;
    height: 30px;
    position: fixed;
}
header ul li{
    display: inline-block;
    text-align: center;
    vertical-align: baseline ;
    width: 20%;
}
header ul {
    display: flex;
    justify-content: space-between;
}

a{
    color: white;
    text-decoration: none; 
}
a#link{
    color: rgb(9, 105, 76);
}

nav{
    float: right;
}

img{
    position: initial;
    float:right;
    width: 20%;
    height: 20%;
    overflow: hidden;
}

div#DataTime{
    color: aliceblue;
} 
div#DataTime:hover {
    color: yellow;
}
div#version{
    color: white;
}
div#version:hover{
    color: yellow;
}

table{
    display: -ms-inline-grid;
    grid-template-rows: flex;
    align-items: baseline;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
td{
    grid-column: 1 / 4;
    grid-row: 1;
}


footer{
    flex: 0 0 auto;  
    bottom: 0;
    background: #333030;
    width: 100%;
    position: fixed;
    clear: both;
}

li a:hover{
    color: yellow;
}

footer ul {
    display: flex;
    justify-content: space-between;
}
footer ul li{
    display: inline-block;
    text-align: center;
    vertical-align: middle; 
    width: 20%;
    color: white;
}